.custom-signup-container {
  width: 96%;
  padding: 3px 41px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px #5e687949;
  margin: 10px;
  text-align: center;
}
.custom-signup-container h2 {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}

.custom-signup-container label {
  display: block;
  margin: 10px 0;
  color: #666666;
  text-align: left;
}

.custom-signup-container input {
  height: 50px;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}

.custom-signup-container input:focus {
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}

.btns {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
              -5px -5px 10px #ffffff73;
}

.custom-signup-container button:focus {
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}

.custom-signup-container .error-message {
  color: #ff4d4d;
  margin-top: 10px;
}

.custom-signup-container .forgot-pass {
  text-align: left;
  margin: 10px 0;
}

.custom-signup-container .forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.custom-signup-container .forgot-pass:hover a {
  text-decoration: underline;
}

.custom-signup-container .sign-up {
  margin: 10px 0;
  color: #595959;
  font-size: 16px;
}

.custom-signup-container .sign-up a {
  color: #3498db;
  text-decoration: none;
}

.custom-signup-container .sign-up a:hover {
  text-decoration: underline;
}
.btnsignup {
  color: #3498db;
  text-decoration: none;
  margin: 10px 0;

  font-size: 16px;
}
.toggleb {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Adjust the font size */
  padding: 5px;
}