
.tournament-details {
  font-family: var(--ff-poppins), sans-serif;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: var(--shadow-2);
  color:  hsl(0deg 0% 3.39%);
}

/* Styles for the heading inside the tournament details */
.tournament-details h2 {
  color: var(--platinum);

}

.tournament-details p {
  color: #1f1e1d;
  font-size: x-large;
  font-weight: 900;
  background: var(--orange);
}

/* Section Buttons */

/* Styles for section buttons */
.section-buttons {
  margin-top: 20px;
}

/* Styles for individual buttons */
.section-buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.section-buttons button:hover {
  background-color: var(--raisin-black-1);
}

/* Game Categories */

/* Styles for the container of game categories */
.game-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Styles for individual game categories */
.game-category {
  position: relative;
  background-color: var(--orange);
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow-1);
  transition: transform 0.3s ease;
}

/* Hover effect for game categories */
.game-category:hover {
  transform: scale(1.05);
}

/* Styles for images inside game categories */
.game-category img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Styles for details in game categories */
.category-details {
  color: var(--platinum);
}

/* Styles for buttons inside game categories */
.game-category button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons inside game categories */
.game-category button:hover {
  background-color: var(--raisin-black-1);
}

/* Tournament Types */

/* Styles for the container of tournament types */
.tournament-types {
  display: flex;
  flex-wrap: wrap;
  background: orange;
  gap: 10px;
  /* color: black; */
  border: 2px solid black;
  margin-top: 33px;
  font-size: xx-large;
}

/* Styles for heading in tournament types */
.tournament-types h3 {
  color: hsla(222, 18%, 11%, .95);
  margin-bottom: 10px;
}

.tournament-types button {
  background-color: var(--primary-color);
  color: hsl(0deg 0% 0%);
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 900;
  transition: background-color .3s ease;
  margin-right: 100px;
}
/* Hover effect for buttons inside tournament types */
.tournament-types button:hover {
  background-color: var(--raisin-black-1);
}

/* Fixtures */

/* Styles for fixtures */
.fixtures {
  margin-top: 20px;
}

/* Styles for heading in fixtures */
.fixtures h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Styles for the grid in fixtures */
.fixtures ul {
  list-style: none;
  padding: 0;
}

/* Styles for individual items in the grid */
.fixtures .grid {
  list-style-type: none;
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust grid layout based on screen size */
}

/* Styles for individual items in the grid */
.fixtures .grid li {
  padding: 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

/* Styles for strong text in fixtures */
.fixtures .grid li strong {
  color: #e44d26;
}

/* Styles for div inside grid items */
.fixtures .grid li div {
  margin-top: 10px;
}

/* Styles for label in grid items */
.fixtures .grid li label {
  font-weight: bold;
  margin-right: 10px;
}

/* Styles for input in grid items */
.fixtures .grid li input {
  padding: 5px;
  width: 50px;
}

/* Media Queries */

/* Media query for screens up to 768px */
@media only screen and (max-width: 768px) {
  .fixtures .grid li {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens up to 480px */
@media only screen and (max-width: 480px) {
  .fixtures .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Further adjust grid layout for smaller screens */
  }

  .fixtures .grid li {
    padding: 8px; /* Further adjust padding for smaller screens */
  }

  .fixtures .grid li input {
    width: 40px; /* Further adjust input width for smaller screens */
  }
}

/* Media Queries */

/* Media query for screens up to 768px */
@media only screen and (max-width: 768px) {
  .game-category {
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .game-category img {
    margin-bottom: 5px; /* Adjust margin for smaller screens */
  }

  .tournament-types button,
  .game-category button,
  .section-buttons button {
    padding: 8px 15px; /* Adjust padding for smaller screens */
  }

  .fixtures li {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Media query for screens up to 480px */
@media only screen and (max-width: 480px) {
  .game-category {  
    padding: 15px; /* Further adjust padding for even smaller screens */
  }

  .tournament-types button,
  .game-category button,
  .section-buttons button {
    font-size: 20px; /* Adjust font size for smaller screens */
    padding: 8px 12px; /* Further adjust padding for smaller screens */
  }

  input {
    width: 100%;
    border: 2px solid white;
    color: #f0f0f0;
  }
  .fixtures li {
      padding: 8px;
      border: 2px solid tomato;
      background: black;
  }
}
/* Add responsive styling for mobile screens */
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .video-container {
    width: 100%;
  }
}
/* Fixtures */

.fixtures .grid {
  list-style: none;
  padding: 0;
}

.fixtures .grid li {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--raisin-black-3);
  box-shadow: var(--shadow-1);
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.fixtures .grid li strong {
  color: var(--primary-color);
}

.fixtures .grid li div {
  margin-top: 10px;
}

.fixtures .grid li label {
  font-weight: bold;
  margin-right: 10px;
  color: var(--platinum);
}

.fixtures .grid li input {
  padding: 10px;
  width: 80px;
}

/* Live Component */

/* Add responsive styling for mobile screens */
@media only screen and (max-width: 600px) {
  .fixtures .grid li {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .fixtures .grid li input {
    width: 60px; /* Further adjust input width for smaller screens */
  }

  /* Add specific styles for the Live component in smaller screens */
  .live-component {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--raisin-black-3);
    box-shadow: var(--shadow-1);
    margin: 1rem;
  }

  .live-component h3 {
    color: var(--primary-color);
    margin-bottom: 10px;
  }

  .live-component button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 8px 12px; /* Further adjust padding for smaller screens */
  }
}


.room-id {
  font-size: 18px;
}



.battle {
  width: 89px;
  height: 89px;
  margin: 12px;
  justify-content: center;
  border: 2px solid black;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
  .team-box {
  
    
    color: #1d1c1c;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: orange;
    box-shadow: 0 0 10px #0000004d;
}
  .team-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .players-title, .team-id {
    font-size: 16px;
    font-weight: bold;
  }

  .battleground {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/src/assets/ff2.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
  }

  .players-list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }

  .players-list li {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .team-box {
      width: 100%;
    }
  }
.boxli{
  display: ruby;
}
.back-button{
  background: orange;
  font-size: x-large;
  font-weight: bold;}
  .types-b{
    color: black;
    background-color: orange;
    font-weight: 900;
    border-radius: 10px;
    border: 2px solid black;
  }