/* TournamentHistory.css */

.tournament-history-container {
    background-color: white;
    color: marigold;
    padding: 20px;
  }
  
  /* Additional styling can be added here */
  .tul{background-color: var(--marigold);}