/* UserProfile.css */

.user-profile-container {
  background-color: hsl(234deg 29.82% 40.23%);
  color: var(--platinum);
  padding: var(--section-padding);
  border-radius: 10px;
  box-shadow: var(--shadow-3);
  transition: background-color var(--transition);
}

.user-profile-container h2 {
  font-family: var(--ff-poppins);
  font-size: var(--fs-2);
  margin-bottom: 20px;
  color: var(--orange);
}

.user-profile-container .profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-picture {
    border-radius: 50%;
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    margin-bottom: 20px;
    object-fit: cover;
    box-shadow: var(--shadow-2);
  }

  p {
    font-family: var(--ff-oswald);
    font-size: var(--fs-5);
    margin-bottom: 10px;
    color: var(--platinum);

    &.profile-info {
      font-weight: var(--fw-500);
    }
  }

  button {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-1);

    &:hover {
      background-color: darken(var(--orange), 10%);
    }
  }
}
/* UserProfile.css */

.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
}

.profile-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.avatar-selection {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-options {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.small-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.small-avatar.selected {
  border: 2px solid #007BFF;
  transform: scale(1.1);
}

.avatar-buttons {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* Add media queries for responsiveness if needed */
